#banner {                    /* #body의 자식이라 #body 설정에 영향을 받음 */
    height: 300px;           /* #body 높이에서 300px 차지, 너비는 1024px */
    background-color: yellow;
}

#banner > img {              /* #banner의 자식인 img 태그 선택 */
    width: 100%;             /* 상위인 #body의 너비 1024px 전체 사용 */
    height: 300px;           /* 부모인 #banner의 높이랑 같게 300px 설정*/
}

#body > h1 {                 /* #body의 자식인 h1 태그 선택 */
    margin-top: 16px;        /* 위쪽 마진을 16px 설정 */
}

#product-list {
    display: flex;           /* 카드가 세로로 나오던 것을 가로로 나오게 한다 */
    flex-wrap: wrap;         /* 리스트 너비를 유지하며 줄바꿈을 한다 */
    margin-top: 12px;        /* h1태그(판매되는 상품들)와의 간격 조정 */
}

.product-card {              /* class가 product-card인 것들에 전체 적용 */
    width: 180px;
    height: 300px;
    margin-right: 12px;
    margin-bottom: 12px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 12px;    /* 카드의 모서리를 둥글게 */
    overflow: hidden;       /* 이미지가 border보다 크면 넘치는 부분을 가려준다 */
}

.product-img {
    width: 100%;
    height: 210px;
}

.product-contents {
    display: flex;          /* span은 자기 영역만큼만 차지 */
    flex-direction: column; /* 그래서 세로 정렬로 설정함 */
    padding: 8px;
}

.product-name {
    font-size: 14px;
}

.product-price {
    font-size: 16px;  /* 폰트 사이즈 */
    font-weight: 600; /* 폰트 굵기 */
    margin-top: 4px;
}

.product-seller {
    display: flex;       /* 가로 정렬 (default는 세로 정렬) */
    align-items: center; /* 가로 정렬된 것에서 세로 가운데 정렬 */
    margin-top: 12px;
}

.product-avatar {
    width: 24px;
}

.product-link {
    color: inherit; /* 글자 색상을 원래 색상으로 보여준다 (a태그 사용시 색 변하는거 방지 */
    text-decoration: none; /* 글자의 밑줄을 없앤다 (a태그 사용시 밑줄 생기는거 방지 */
}